<div style="width:100%;text-align:center;border-bottom:solid 1px silver;padding-bottom:10px">
    <h2>
        טסט הורסיו </h2>
</div>
<br>
<button (click)="Refresh()" class="btn btn-success">
  שחזור
</button>
<div class="GridSagolWhite">
    <div>
        <div>
            <div style="width: 72px"></div>
            <div style="width: 72px"></div>
            <div>מוצר מחיר</div>
            <div>סוג מוצר</div>
            <div>מוצר שם</div>
            <div>מוצר ID</div>
            <div>יום הולדת הלקוח</div>
            <div>שם לקוח</div>
            <div>ת. זהות</div>
        </div>

        <div *ngFor="let item of tableMother">
            <div>
                <button (click)="AtemptToDelete(item)" class="btn btn-danger">מחק</button>
            </div>

            <div>
                <button (click)="AtemptToUpdate(item)" class="btn btn-success">
          עדכון
        </button>
            </div>

            <div>{{ item.price }} שקלים</div>
            <div>{{ item.productType }}</div>
            <div>{{ item.prname }}</div>
            <div>{{ item.productid }}</div>
            <div>{{ item.clidDate }}</div>
            <div>{{ item.cliname }}</div>
            <div>{{ item.cliidzeut }}</div>
        </div>
    </div>
</div>

<div [hidden]="true">
    <button id="myModalUpdate" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">

  </button>

    <button id="myModalDelete" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">

  </button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="display: block; height: 10px"></div>

            <div [hidden]="updateModalView">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">עדכן ת"ז</h5>
                </div>
                <div class="modal-body">
                    <span>מספר חדש</span>
                    <div style="display: block; height: 10px"></div>
                    <input type="text" class="form-control" style="padding: 10px;background-color: #fff5fd" [(ngModel)]="currentZeut" placeholder="מספר חדש" />
                </div>
                <div style="display: block; height: 20px"></div>
                <div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              בטל
            </button>
                        <button type="button" class="btn btn-primary" (click)="UpdateZeut()" data-bs-dismiss="modal">
              שמור
            </button>
                    </div>
                </div>
            </div>

            <div [hidden]="deleteModalView">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">מחק שורה</h5>
                </div>
                <div class="modal-body">
                    <span>האם אתה בטוח למחוק השורה הנבחרה?</span>
                </div>
                <div style="display: block; height: 20px"></div>
                <div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              בטל
            </button>
                        <button type="button" class="btn btn-danger" (click)="DeleteRow()" data-bs-dismiss="modal">
              מחק
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
